/* FilterBox.css */

/* Container to center the filter box */

.filter-box-container {
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }
  
  /* One line layout for all filters */
  .filter-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  
  /* Filter item styles */
  .filter-item {
    margin-right: 20px;
    position: relative;
  }
  
  .filter-item label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  
.filter-item select {
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #040303;
  background-color: #ffffff;
  font-family: 'Montserrat'; /* Consistent font */
}

/* Dropdown option styling */
.filter-item select option {
  padding: 10px;
  font-size: 1rem;
  background-color: #ffffff;

}
  .filter-item .price-display {
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #040303;
  }
  
  /* Price box style */
  .price-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 130px; /* Set a fixed width */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis;
  }
  
  .price-display button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Custom slider container for styling */
  .custom-slider-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    height: 45px;
    right: 0;
    padding: 2px;
    background-color: white;
    border: 1px solid #b3b3b3;
    border-radius: 8px;
    z-index: 10;

  }
  
  /* Custom slider styling */
  .custom-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #007bff 0%, #007bff 50%, #ccc 50%, #ccc 100%);
    outline: none;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .custom-slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .custom-slider:active::-webkit-slider-thumb {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  
  .custom-slider:active::-moz-range-thumb {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }
  