.filter-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
  }
  
  .item-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 12px;
    color: #fff;
    border: 1px solid black;
    text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black;
    font-weight: bold;
  }
  
  .remove-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 8px;
  }

  
  .selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
  }
  
  .item-tag {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
  }
  
  .remove-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 8px;
  }