/* Import shared styles */
@import './CommonStyles.module.css';


/* Outer Container to Center the Form */
.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Full viewport height */
  padding: 20px; /* Optional padding for smaller screens */
  box-sizing: border-box;
}

/* Adjusted Width Container */
.adjusted-width-container {
  display: flex;
  flex-direction: column;


  max-width: 800px; /* Increased maximum width constraint */
  margin: 0 auto;
}

/* Form Section */
.form-section {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

/* Side Text */
.side-text {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
  text-shadow:
    1px 1px 0 white,
    -1px -1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white;
}

/* Filter Item 
.filter-item {
  width: 100%;
}
*/
/* Input Fields */
.filterItem select,
.filterItem input {
  width: 42ch;
  padding: 10px;
  font-size: 1rem;
}

.filterItem {
  composes: filterItem from './CommonStyles.module.css';
  /* Add component-specific styles here if needed */
}

/* Upload Container */
.upload-container {
  display: flex;
  align-items: center;
  position: relative;
}

.upload-container .plus-button {
  width: 200px; /* Fixed width */
  padding: 10px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: black;
  border: none;
  cursor: pointer;
}

/* Square Button Style After Image Upload */
.square-button {
  width: 50px !important; /* Change width to 80px after upload */
}

/* Profile Photo Preview */
.photo-preview {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-left: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* File Name Display */
.file-name {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

/* Back and Next Button Container */
.form-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-button-container button {
  width: 48%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .adjusted-width-container {
    max-width: 100%;
  }

  .form-section {
    grid-template-columns: 1fr;
  }

  .side-text {
    width: 100%;
    margin-bottom: 8px;
  }

  .filter-item {
    width: 100%;
  }

  .filter-item select,
  .filter-item input,
  .upload-container {
    width: 100%;
  }

  .form-button-container {
    flex-direction: column;
    gap: 10px;
  }

  .form-button-container button {
    width: 100%;
  }
}

/* Tutor Image */
.tutor-image {
  position: absolute;
  bottom: 0;
  left: -25vw;
  width: 50vw;
  height: auto;
  z-index: 1;
  opacity: 0.4;
}
